[submodule "nemu-mips32"]
	path = nemu-mips32
	url = git@github.com:wierton/nemu-mips32
	branch = run_final_system_18_paging_no_intr
[submodule "nexus-am"]
	path = nexus-am
	url = git@github.com:wierton/nexus-am
	branch = run_final_system_18_paging_no_intr
[submodule "nanos"]
	path = nanos
	url = git@github.com:wierton/nanos
	branch = run_final_system_18_paging_no_intr
[submodule "navy-apps"]
	path = navy-apps
	url = git@github.com:wierton/navy-apps
	branch = run_final_system_18_paging_no_intr
